# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
*~
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env
.env.*
.metadata
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock
!/pubspec.lock
**/doc/api/
lib/generated_plugin_registrant.dart

*.freezed.dart
*.gen.dart
*.gr.dart
*.part
*.pb.dart
*.pbenum.dart
*.pbserver.dart
*.pbjson.dart
flutter_*.png
flutter_*.snapshot
flutter_export_environment.sh
service-worker.js
.analysis_options.yaml
.dart_test.yaml
.devtools_options.yaml

# Android related
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/gradlew
android/gradlew.bat
android/**/gradle-wrapper.jar
android/captures/
android/**/GeneratedPluginRegistrant.java
android/key.properties

# iOS/XCode related
ios/.build/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcshareddata/
ios/.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/.last_build_id
ios/Flutter/ephemeral
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/.generated/
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*sync/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.vagrant/
ios/**/DerivedData/
ios/**/Icon?
ios/**/.symlinks/
ios/**/profile
ios/**/xcuserdata

# macOS related
macos/.DS_Store
macos/Flutter/ephemeral/
macos/Flutter/Flutter-Generated.xcconfig
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcshareddata/

# Linux related
linux/build/

# Windows related
windows/build/
windows/Runner.exe
windows/Runner.exe.config

# Test and coverage
coverage/
screenshots/
firebase_android_bu.sh/
allure/
allure-report/
allure-results/
test-output/
test-reports/
test-results/
test_results/

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# Node.js related
node_modules/

# Other project-specific files
README.md
testing-strategy.md

# Temporary files
Thumbs.db

# Generated files
*.g.dart
*.gr.dart
*.config.dart
lib/env.g.dart
lib/core/di/injectable.config.dart
lib/core/navigation/app_router.gr.dart
.env
.env.*
lib/env.g.dart*
